# Server
PORT=3001
HOST=0.0.0.0

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# MongoDB
MONGO_URI=mongodb://localhost:27017/log-intelligence

# Worker
STREAM_NAME=logs-stream
CONSUMER_GROUP=log-processing-group
CONSUMER_NAME=worker-1
